// foo
ul
  // bar
  li
    | one
  // baz
  li
    | two
//
  ul
    li foo

//
  // inline follow
  li three

//
  // inline followed by tags
  ul
    li four

//
  // inline
  script(src='/lame.js')
  // end-inline

p
  | five
div.foo
  | // not a comment